<div id="title">
    <h1>ng-openai</h1>
    <img src="assets/openai/ng-openai-logo.png" alt="ng-openai logo" height="200">
</div>
<h2>Overview</h2>
<p>A simple Angular service for openai(chatGPT)</p>
<h2>Installation</h2>
<blockquote>
    npm install ng-cursor
</blockquote>
<pre><code [highlight]="usageCodeImport" [languages]="['ts']"></code></pre>
<p>API KEY isn't required in module but recommended, you can use method setOpenAIAPIKey too</p>
<pre><code [highlight]="'this.ngOpenaiService.setOpenAIAPIKey(\'sk-XXXXXXXXXXXXXXXXXXXXXX\')'" [languages]="['ts']"></code></pre>
<pre><code [highlight]="usageCode" [languages]="['ts']"></code></pre>
<h2>Démo</h2>
<a href="https://stackblitz.com/edit/angular-ivy-jqxxxf" target="_blank">Stabkblitz</a>
