<div id="title">
    <h1>ng-cusor</h1>
    <img src="assets/cursor/ng-cursor-logo.png" alt="ng-cursor logo" height="200">
</div>
<h2>Overview</h2>
<p>A simple Angular directive to choose the cursor css propertie</p>
<p>I recommend to use SVG file, not png</p>
<h2>Installation</h2>
<blockquote>
    npm install ng-cursor
</blockquote>
<h2>Usage</h2>
<pre><code [highlight]="usageCode" [languages]="['xml']"></code></pre>
<h2>Démo</h2>
<h3>Dynamic cursor</h3>
<app-dynamic-cursor></app-dynamic-cursor>
<app-code-preview-multiple
    [link]="'https://github.com/PaulRichez/libCreator/tree/master/src/app/modules/cursor/components/dynamic-cursor'"
    [codes]="dynamicCode"></app-code-preview-multiple>
<h3>Happy cursor</h3>
<app-happy-cursor></app-happy-cursor>
<app-code-preview-multiple
    [link]="'https://github.com/PaulRichez/libCreator/tree/master/src/app/modules/cursor/components/happy-cursor'"
    [codes]="happyCode"></app-code-preview-multiple>