nav {
    background-color: #41729F;
    padding: 5px;
    display: flex;
    justify-content: flex-end;

    ul {
        list-style: none;

        li {
            display: inline;
            margin-right: 10px;
        }
    }

    a {
        color: white;
    }
}

#main {
    margin: auto;
    max-width: 900px;
}