<div id="title">
  <h1>ng-theme-system</h1>
</div>
<h2>Overview</h2>
<p>A simple Angular service which return the user system theme( use <a
    href="https://www.npmjs.com/package/ng-theme-system" target="_blank">ng-theme-system</a>)
</p>
<h2>Installation</h2>
<blockquote>
  npm install ng-theme-terminal
</blockquote>

<p>Import module</p>
<pre><code [highlight]="usageCodeImport" [languages]="['ts']"></code></pre>

<h2>Usage</h2>
<pre><code [highlight]="usageCode" [languages]="['ts']"></code></pre>

<h2>Démo</h2>
<app-demo-ng-theme-system></app-demo-ng-theme-system>
<app-code-preview-multiple
  [link]="'https://github.com/PaulRichez/libCreator/tree/master/src/app/modules/theme-system/components/demo-ng-theme-system'"
  [codes]="demoCode"></app-code-preview-multiple>

<pre><code [highlight]="interfaces" [languages]="['md']"></code></pre>
